Flask==3.0.3
huggingface-hub==0.23.1
pandas==2.2.2
requests==2.32.2
streamlit==1.35.0
# torch==2.3.0+cu118
# torchaudio==2.3.0+cu118
# torchvision==0.18.0+cu118
tornado==6.4
tqdm==4.66.4
transformers==4.41.1
langchain==0.2.1
langchain-mistralai==0.1.7
langchain-experimental==0.0.59
python-dotenv==1.0.1
langchain-fireworks==0.1.3
langchain-groq==0.1.4
trl==0.8.6
wandb==0.17.0
peft==0.11.1
datasets==2.19.1
bitsandbytes==0.43.1
langserve==0.2.1
fastapi==0.111.0
sse-starlette==2.1.0
pydantic==1.10.13